body {
  display: block;
  place-items: unset;
  min-height: auto;
}
#root {
  font-size: .8rem;
  color: #272727;
  padding: 1rem;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #2196F3;
  font-weight: 700;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
  margin-bottom: .3rem;
  font-weight: 500;
}
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: 700;
  font-size: 1.3rem;
}
.text-right {
  text-align: right;
}
.App {
  padding: 1rem;
}
.game-card {
  border: 1px solid #a6a6a6;
  padding: 5px 15px 3px;
  max-width: 1000px;
  margin: 0 auto .5rem;
  box-sizing: border-box;
}
.notstarted-game {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  column-gap: 2rem;
}
.game-info {
  text-align: right;
  padding-top: .3rem;
  align-self: end;
}
.decisions-pitchers {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.game-stats {
  display: inline-flex;
  gap: 1rem;
  margin-bottom: .5rem;
}
.inprogress-game,
.final-game {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
.final-game {
  grid-template-rows: unset;
}
.teams-playing {
  grid-column: 1;
  grid-row: 1;
  display: inline-flex;
  justify-content: space-between;
}
.game-info.inprogress {
  grid-column: 2;
  grid-row: 1 / span 2;
}
.player-stats {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  grid-column: 1;
  grid-row: 2;
}
.date-picker {
  text-align: center;
  margin-bottom: 1.5rem;
}
.date-picker-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .5rem;
}
.react-datepicker-ignore-onclickoutside,
.react-datepicker__input-container,
.react-datepicker-wrapper {
  text-align: center;
}
.date-picker-container {
  text-align: center;
  margin-bottom: 1rem;
}