@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-size: .8rem;
  color: #272727;
}
h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.2rem;
  margin-bottom: .3rem;
  font-weight: 500;
}
.uppercase {
  text-transform: uppercase;
}
.bold {
  font-weight: 700;
  font-size: 1.3rem;
}
.text-right {
  text-align: right;
}
.App {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.game-card {
  border: 1px solid #a6a6a6;
  padding: 5px 15px 3px;
}
.notstarted-game {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  column-gap: 2rem;
}
.game-info {
  text-align: right;
  padding-top: .3rem;
  align-self: end;
}
.decisions-pitchers {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.game-stats {
  display: inline-flex;
  gap: 1rem;
  margin-bottom: .5rem;
}
.inprogress-game,
.final-game {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
.teams-playing {
  grid-column: 1;
  grid-row: 1;
  display: inline-flex;
  justify-content: space-between;
}
.game-info.inprogress {
  grid-column: 2;
  grid-row: 1 / span 2;
}
.player-stats {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  grid-column: 1;
  grid-row: 2;
}